Web References/WsEjeMiddleware/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://tempuri.org/DSEjercicioMiddleware.xsd" />
      <s:import schemaLocation="http://localhost:53207/WSMiddleware/Service.asmx?schema=DSEjercicioMiddleware" namespace="http://tempuri.org/DSEjercicioMiddleware.xsd" />
      <s:element name="FnAgregarPersonas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PmId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PmNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PmApellidoPat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PmApellidoMat" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PmEdad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="PmNumeroTel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnAgregarPersonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnAgregarPersonasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnEliminarPersonas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PmId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnEliminarPersonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnEliminarPersonasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FnListarRegistros">
        <s:complexType />
      </s:element>
      <s:element name="FnListarRegistrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FnListarRegistrosResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/DSEjercicioMiddleware.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FnAgregarPersonasSoapIn">
    <wsdl:part name="parameters" element="tns:FnAgregarPersonas" />
  </wsdl:message>
  <wsdl:message name="FnAgregarPersonasSoapOut">
    <wsdl:part name="parameters" element="tns:FnAgregarPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="FnEliminarPersonasSoapIn">
    <wsdl:part name="parameters" element="tns:FnEliminarPersonas" />
  </wsdl:message>
  <wsdl:message name="FnEliminarPersonasSoapOut">
    <wsdl:part name="parameters" element="tns:FnEliminarPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="FnListarRegistrosSoapIn">
    <wsdl:part name="parameters" element="tns:FnListarRegistros" />
  </wsdl:message>
  <wsdl:message name="FnListarRegistrosSoapOut">
    <wsdl:part name="parameters" element="tns:FnListarRegistrosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="FnAgregarPersonas">
      <wsdl:input message="tns:FnAgregarPersonasSoapIn" />
      <wsdl:output message="tns:FnAgregarPersonasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FnEliminarPersonas">
      <wsdl:input message="tns:FnEliminarPersonasSoapIn" />
      <wsdl:output message="tns:FnEliminarPersonasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FnListarRegistros">
      <wsdl:input message="tns:FnListarRegistrosSoapIn" />
      <wsdl:output message="tns:FnListarRegistrosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FnAgregarPersonas">
      <soap:operation soapAction="http://tempuri.org/FnAgregarPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnEliminarPersonas">
      <soap:operation soapAction="http://tempuri.org/FnEliminarPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnListarRegistros">
      <soap:operation soapAction="http://tempuri.org/FnListarRegistros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FnAgregarPersonas">
      <soap12:operation soapAction="http://tempuri.org/FnAgregarPersonas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnEliminarPersonas">
      <soap12:operation soapAction="http://tempuri.org/FnEliminarPersonas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FnListarRegistros">
      <soap12:operation soapAction="http://tempuri.org/FnListarRegistros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:53207/WSMiddleware/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:53207/WSMiddleware/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>